.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  header,
  footer {
    color: #fff;
    background-color: #7dbcea;

    min-height: 60px;
    // 代码作用 使子元素 水平垂直居中
    display: flex;
    align-items: center;
    // justify-content: center;
  }

  &-body {
    min-height: 300px;
    background-color: #108ee9;
    flex: auto;
    display: flex;
    &-aside-expend{
      padding: 5px;
      flex: none;
      width: 200px;
      background-color: #3ba0e9;
      overflow-y: auto;
    }
    &-aside-collapse{
      flex: none;
      width: 0px;
   
    }
 
    &-main {
      min-height: 300px;
      flex: auto;
      display: flex;
      flex-direction: column;

      &-content {
        min-height: 300px;
        padding: 10px;
        background-color: #108ee9;
        flex: auto;
      }
    }
  }
}
